<mat-form-field>
  <input [(ngModel)]='section.name' matInput placeholder="Section-Name">
</mat-form-field>

<h3>Questions</h3>

<mat-horizontal-stepper>
  <mat-step *ngFor="let question of section.questions; let i=index">
    <ng-template matStepLabel>{{question.name}}</ng-template>
    <app-designquestion [section]='section' [question]='question'></app-designquestion>
    <div style="margin-top:30px">
      <button class='navbtn' color='primary' mat-mini-fab matStepperPrevious>
        <i class="material-icons">chevron_left</i>
      </button>
      <button mat-raised-button color='primary' (click)="addQuestion(i+1)">Add Another Question</button>
      <button mat-raised-button color='warn' (click)="deleteQuestion(i)">Delete This Question</button>
      <button class='navbtn' color='primary' mat-mini-fab matStepperNext>
        <i class="material-icons">chevron_right</i>
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>