<div class="question">
    <div>
        <h4>{{question.text}}</h4>
    </div>
    <div>
        <div *ngIf="question.qType === 'radio' ">
            <!-- <mat-radio-group> -->
                <app-choice *ngFor="let choice of question.choices" [choice]="choice" [type]="question.qType"></app-choice>
            <!-- </mat-radio-group> -->
        </div>
        <div *ngIf="question.qType === 'checkbox' ">
            <app-choice *ngFor="let choice of question.choices" [choice]="choice" [type]="question.qType"></app-choice>
        </div>
    </div>
</div>