<form class="example-form" [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="Form Name" [matAutocomplete]="auto" formControlName='formname'>
    <mat-error>please select valid form from list</mat-error>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option (click)='makeSelection(f)' *ngFor="let f of filteredForms;" [value]="f">
        <span>{{ f.name }}</span> 
        <span>{{ f.creator }}</span>
      </mat-option>
    </mat-autocomplete>
    <mat-hint>please search your form</mat-hint>
  </mat-form-field>
  
</form>