<mat-form-field>
  <input matInput [(ngModel)]='question.name' placeholder="Question Name">
</mat-form-field>
<mat-form-field class="fullwidth">
  <input matInput [(ngModel)]='question.text' placeholder="Question">
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Select" [(ngModel)]='question.qType'>
    <mat-option value="checkbox">Multi Choice
    </mat-option>
    <mat-option value="radio">Single Choice
    </mat-option>
    <mat-option value="text">Descriptive
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf='question.qType && question.qType!="text"'>
  <h4>Choices</h4>
  <app-designchoice *ngFor="let choice of question.choices; let i=index" [choice]="choice" [choiceIndex]='i' [question]="question">
  </app-designchoice>
</div>